body{
    background: #fff;
}
ul{
    li{
        list-style: none;
        font-size: 16px;
    }
}

/* loading */
.loading{
    margin: 10px auto;
    display: block;
    width: 65px;
    height: 65px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: url(../../image/icon/loading.gif) no-repeat;
    opacity: .6;
}